@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "@midudev/tailwind-animations";
@plugin "tailwind-scrollbar";

@theme {
  /* COLORS */
  --color-primary: #137FEC;
  --color-background-light: #E6F2FE;
  --color-background-dark: #101922;
  --color-text-primary: #0F172A;
  --color-text-secondary: #475569;
  --color-text-secondary-dark: #fefefe;
  --color-background-base: #F8FAFC;
  --color-card: #FFFFFF;
  --color-card-dark: #1b2734;
  --color-border: #E2E8F0;
  --color-border-dark: #374151;


  /* FONTS */
  --font-inter: 'Inter' sans-serif;
};

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* tailwind.config = {
  darkMode: "class",
  theme: {
    extend: {
      colors: {
        "primary": "#137fec",
        "background-light": "#f6f7f8",
        "background-dark": "#101922",
        "foreground-light": "#101922",
        "foreground-dark": "#f6f7f8",
        "card-light": "#ffffff",
        "card-dark": "#1b2734",
        "muted-light": "#6b7280",
        "muted-dark": "#9ca3af",
        "border-light": "#e5e7eb",
        "border-dark": "#374151"
      },
      fontFamily: {
        "display": ["Inter", "sans-serif"]
      },
      borderRadius: {
        "DEFAULT": "0.5rem",
        "lg": "0.75rem",
        "xl": "1rem",
        "full": "9999px"
      },
    },
  }, */