@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap');
@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@plugin "tailwind-scrollbar";

@theme {
  /* COLORS */
  --color-primary: #137FEC;
  --color-background-light: #E6F2FE;
  --color-text-primary: #0F172A;
  --color-text-secondary: #475569;
  --color-background-base: #F8FAFC;
  --color-card: #FFFFFF;
  --color-border: #E2E8F0;


  /* FONTS */
  --font-inter: 'Inter' sans-serif;
};

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}